.container{
    background: rgb(226, 210, 120);
    display: flex;
    width: 500px;
    height: 500px;
    margin: auto;
    perspective: 700px;
}

.estrellaG{
    width: 280px;
    height: 200px;
    margin: auto;
    position: relative;
    perspective: 700px;
    transform-style: preserve-3d;
    transform: rotate(180deg) rotateY(-47deg);
}

/*.estrellaG{
    width: 280px;
    height: 200px;
    margin: auto;
    position: relative;
    perspective: 700px;
    transform-style: preserve-3d;
    transform: rotate(180deg) rotateY(-25deg) rotateX(-60deg);
}*/

.estrella{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 25%, 78% 14.25%, 75% 43.15%, 94.25% 63.55%, 65.45% 72.5%, 50% 95%, 34.55% 72.5%, 5.75% 63.55%, 25% 43.15%, 23% 14.25%);
    
}

.caraA{
    position: absolute;
    background: rgb(233, 51, 27);
}

.caraB{
    position: absolute;
    background: rgb(255, 80, 27);
    transform: translateZ(-35px);
}

.lado1{
    position: absolute;
    top: 136px;
    left: 50px;
    background: rgb(199, 31, 1);
    width: 35px;
    height: 63px;
    transform: translateZ(-17.5px) translateX(94px) rotateY(90deg) rotateX(-43.9deg);

}

.lado2{
    position: absolute;
    top: 94.69px;
    left: 50px;
    background: rgb(255, 98, 70);
    width: 35px;
    height: 82.6px;
    transform: translateZ(-17.5px) translateX(156.1px) rotateY(90deg) rotateX(-77.5deg);

}

.lado3{
    position: absolute;
    top: 61px;
    left: 50px;
    background: rgb(173, 27, 1);
    width: 35px;
    height: 82.6px;
    transform: translateZ(-17.5px) translateX(163.8px) rotateY(90deg) rotateX(-127.2deg);

}

.lado4{
    position: absolute;
    top: 28px;
    left: 50px;
    background: rgb(133, 20, 1);
    width: 35px;
    height: 82.6px;
    transform: translateZ(-17.5px) translateX(145px) rotateY(90deg) rotateX(-8deg);
}

.lado5{
    position: absolute;
    top: -1.5px;
    left: 50px;
    background: rgb(165, 26, 1);
    width: 35px;
    height: 82.6px;
    transform: translateZ(-17.5px) translateX(36.3px) rotateY(90deg) rotateX(-106.2deg);
}

.lala {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    text-align: center;
}

.lala span {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 10px;
}
